<!-- wp:template-part {"slug":"header","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:pattern {"slug":"portfolio/hero-home-default"} /-->

<!-- wp:pattern {"slug":"portfolio/services"} /-->

<!-- wp:pattern {"slug":"portfolio/about"} /-->

<!-- wp:pattern {"slug":"portfolio/education"} /-->

<!-- wp:pattern {"slug":"portfolio/portfolio"} /-->

<!-- wp:pattern {"slug":"portfolio/blog"} /-->

<!-- wp:pattern {"slug":"portfolio/contact"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->